@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600;700&display=swap');
 :root {
    margin: 0;
    padding: 0;
    display: block;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    --nero: #0d0206;
    --viola: #b94c86;
}

* {
    margin: 0;
    padding: 0;
    display: block;
}

title {
    display: none;
}

.menu-item {
    cursor: pointer;
}

.logo {
    cursor: pointer;
}

.navbar {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: -webkit-fill-available;
    width: -moz-available;
    z-index: 5;
    margin: 1rem;
}

.menu-list {
    display: flex;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.menu-item {
    display: flex;
    flex-direction: column;
    font-size: 27px;
    font-family: 'Anton', sans-serif;
    letter-spacing: 3.5px;
    color: white;
    margin: 0 0rem 0 2.5rem;
}

.menu-item::after {
    content: "";
    z-index: -1;
    position: relative;
    display: block;
    height: 8px;
    width: 98%;
    background: var(--viola);
    transform: scaleX(0);
    transform-origin: 0%;
    transition: transform 500ms cubic-bezier(0.22, 0.61, 0.36, 1);
    top: -50.9%;
}

.menu-item:hover::after {
    border-color: transparent;
    transform: scaleX(1);
}

#dropdown-btn {
    display: none;
    overflow: hidden;
    outline: none;
    z-index: 2 !important;
}

.dd-menu {
    pointer-events: none;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 1;
    transform: scaleY(0);
    background-color: var(--nero);
    transition: 0.7s ease;
    transition-property: transform, opacity;
}

.dd-menu-active {
    pointer-events: all;
    opacity: 1;
    transform: scaleY(1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    background-color: white !important;
}

.content-first-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0.7rem;
    margin-bottom: 2.4rem;
}

.didasc {
    display: flex;
    word-spacing: 0.1rem;
    letter-spacing: 6px;
    font-weight: 600;
}

.card {
    display: flex;
    /* height: 30rem; */
    position: relative;
    transition: 0.7s all ease;
    background-color: var(--nero);
    padding: 1rem;
    min-height: 90%;
    max-height: 90%;
    min-width: 50%;
    max-width: 50%;
    align-self: center;
    left: 2rem;
}

.description-me {
    align-self: flex-start;
    color: white;
    font-size: 30px;
    line-height: 60px;
}

.description-me span:first-child {
    text-align: center;
    font-size: 45px;
    margin-bottom: 1.5rem;
    word-spacing: 5px;
    letter-spacing: 20px;
    font-weight: bold;
    text-shadow: 4px 6px 6px #ff9572;
}

.description-me span:nth-child(2) {
    text-align: justify;
}

.moveUpText {
    transform: translateY(-10rem);
    opacity: 0;
}

.moveDownText {
    transform: translateY(0)
}

.card-photo {
    position: relative;
    max-width: 40%;
    max-height: 110%;
    width: 40%;
    height: 110%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 10;
    border-radius: 8px;
    background-color: var(--viola);
    background-image: url(/img/my-photo.jpg);
    transition: 1.4s all cubic-bezier(0.51, 0.21, 0.12, 1.07);
    bottom: 1rem;
}

.moveUpPhoto {
    transform: translateY(0) rotate(5deg);
    opacity: 1;
}

.moveDownPhoto {
    transform: rotateY(60deg) translateY(15rem);
    opacity: 0.65;
}

.content-second-page {
    display: flex;
    width: 100%;
    height: 100vh;
}

.border-1 {
    display: flex;
    margin: auto;
    position: relative;
    width: 85%;
    height: 60%;
    border-radius: 10px;
    box-shadow: 0 0 8px 4px #ff9572;
}

.border-container {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100vh;
}

.card-container {
    display: flex;
    align-items: center;
}

.fp-controlArrow {
    border: 1.4px solid white !important;
    width: 1rem !important;
    display: flex !important;
    margin-top: auto !important;
    transition: 0.3s all ease;
}

.fp-controlArrow.fp-next {
    right: 3rem !important;
}

.fp-controlArrow.fp-prev {
    left: 3rem !important;
}

.fp-controlArrow.fp-next:hover {
    animation: moveRight 0.7s infinite;
}

.fp-controlArrow.fp-prev:hover {
    animation: moveLeft 0.7s infinite;
}

@keyframes moveLeft {
    50% {
        transform: translateX(-5px)
    }
    100% {
        transform: translateX(0px)
    }
}

@keyframes moveRight {
    50% {
        transform: translateX(5px)
    }
    100% {
        transform: translateX(0px)
    }
}

.fallingBall {
    animation: fallingBallAnimation 0.5s;
}

.staticBall {
    z-index: -1;
    left: 22rem;
    top: 23rem;
    border-radius: 100px;
    width: 3%;
    height: 3%;
    border: none;
    background-color: #0d0206a8;
    background-image: none;
    transform: translateY(100vh);
    transition: 0.7s all ease;
}

.openBall {
    z-index: -1;
    transform: translateY(100vh) scalex(100) scaleY(100);
}

@keyframes fallingBallAnimation {
    20% {
        width: 5%;
        height: 12%;
        border: none;
        top: 40%;
        border-radius: 15px;
    }
    40% {
        background-color: var(--viola);
        background-image: none;
        border-radius: 17px;
    }
    50% {
        width: 4%;
        height: 11%;
        top: 50%;
        border: none;
        transform: rotate(45deg);
        background-color: var(--viola);
        background-image: none;
        border-radius: 25px;
    }
    100% {
        z-index: -1;
        top: 50%;
        border-top-left-radius: 32px;
        -moz-border-radius-topleft: 32px;
        -webkit-border-top-left-radius: 32px;
        border-top-right-radius: 151px;
        -moz-border-radius-topright: 151px;
        -webkit-border-top-right-radius: 151px;
        border-bottom-left-radius: 160px;
        -moz-border-radius-bottomleft: 160px;
        -webkit-border-bottom-left-radius: 160px;
        border-bottom-right-radius: 143px;
        -moz-border-radius-bottomright: 143px;
        -webkit-border-bottom-right-radius: 143px;
        width: 3%;
        height: 10%;
        border: none;
        background-color: #0d0206a8;
        background-image: none;
        transform: translateY(100vh) rotate(45deg) scaleY(1);
    }
}

.opacity0 {
    opacity: 0 !important;
    transition: none;
}

.formContact {
    max-width: 500px;
}

.field {
    width: 100%;
    position: relative;
    border-bottom: 2px dashed gray;
    margin: 4rem auto 1rem;
}

.label {
    z-index: 5;
    color: gray;
    font-size: 1.2rem;
    position: absolute;
    transform: translateY(-2rem);
    transform-origin: 0%;
    transition: transform 400ms;
}

.field:focus-within .label {
    transform: translateY(-5rem);
}

.input {
    z-index: 10;
    outline: none;
    border: none;
    overflow: hidden;
    margin: 0;
    width: 100%;
    padding: 0.25rem 0;
    background: none;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}

.field::after {
    content: "";
    position: relative;
    display: block;
    height: 4px;
    width: 100%;
    background: var(--viola);
    transform: scaleX(0);
    transform-origin: 0%;
    transition: transform 500ms ease;
    top: 2px;
}

.field:focus-within {
    border-color: transparent;
}

.field:focus-within::after {
    border-color: transparent;
    transform: scaleX(1);
}

.card-contact-me span {
    color: white;
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    margin: auto;
    text-align: center;
}

.card-contact-me button {
    color: white;
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    margin: auto;
    text-align: center;
    outline: none;
    background-color: unset;
    border: none;
    margin-top: 1.5rem;
    padding: 0 0.5rem;
}

.card-contact-me button:hover {
    box-shadow: 0 0 4px 2px var(--viola);
}

.logo {
    background-image: url(/img/loghi/little/little-logo.png);
    overflow: hidden;
    width: 130px;
    height: 40px;
    transition: all 0.7s ease;
}

.logo:hover {
    transform: scale(1.1)
}

#video-background {
    z-index: -1;
    right: 0;
    bottom: 0;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
    width: auto;
    height: auto;
}

.project-card {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin-top: auto;
    -webkit-mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" preserveAspectRatio="true"><polygon points="98.5,64 101.5,64 101.5,136 98.5,136" fill="black"/></svg>') 0/100% 100%, linear-gradient(#fff, #fff);
    -webkit-mask-composite: destination-out;
    background-color: #0d0206a8;
    transition: all 0.6s ease;
}

.project-photo {
    display: flex;
    align-self: center;
}

.project-description {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 500px;
}

.project-title {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 30px;
    color: white;
    font-weight: 500;
    text-align: center;
    letter-spacing: 3px;
    margin-bottom: 2rem;
}

.project-use-case {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 18px;
    color: white;
}

.project-card-container {
    display: flex;
    width: 100%;
    height: fit-content;
    align-self: center;
    justify-content: space-evenly;
}

.ct-section-title {
    position: absolute;
    width: 100%;
    height: 100vh;
}

.ct-section-title div {
    z-index: 10;
    color: white;
    position: relative;
    text-align: center;
    font-weight: 700;
    top: 7rem;
    font-size: 45px;
    letter-spacing: 20px;
    margin-bottom: 1.5rem;
    word-spacing: 5px;
    font-family: 'IBM Plex Mono', monospace;
}

@media (min-aspect-ratio:16/9) {
    #video-background {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio:16/9) {
    #video-background {
        width: auto;
        height: 100%;
    }
}

@media only screen and (max-width: 425px) {
    .card-photo {
        display: none;
    }
    .card {
        margin: auto;
        position: relative;
        min-width: 90%;
        max-width: 90%;
        min-height: 90%;
        max-height: 90%;
        border-radius: 10px;
        left: 0;
        padding: 3%;
    }
    .description-me span:first-child {
        font-size: 30px;
        margin-bottom: 0;
        letter-spacing: 0;
    }
    .description-me span:nth-child(2) {
        font-size: 1rem;
        line-height: 32px;
        text-align: center;
    }
    .menu-list {
        display: none;
    }
    .logo {
        margin-top: 0.4rem;
    }
    #dropdown-btn {
        display: block;
    }
    .ct-section-title div {
        z-index: 10;
        color: white;
        position: relative;
        text-align: center;
        font-weight: 700;
        top: 5rem;
        font-size: 2rem;
        letter-spacing: 20px;
        left: 0.4rem;
        margin-bottom: 1.5rem;
        /* word-spacing: 5px; */
        font-family: 'IBM Plex Mono', monospace;
    }
    .project-photo {
        width: 70%;
        margin-bottom: 10%;
    }
    .project-card-container {
        display: flex;
        width: 100%;
        height: 100vh;
        justify-content: center;
        flex-direction: column;
    }
    .project-description {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-top: 10%;
    }
    .project-title {
        margin-left: 1rem;
    }
    .project-use-case {
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        margin-left: 0.7rem;
    }
    .project-card {
        -webkit-mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" preserveAspectRatio="true"><polygon points="55.5,111 142.5,111 142.5,116 55.5,116" fill="black"/></svg>') 0/100% 100%, linear-gradient(#fff, #fff);
    }
}


/* Tablet Styles */

@media only screen and (min-width: 426px) and (max-width: 1024px) {
    .card-photo {
        display: none;
    }
    .card {
        margin: auto;
        position: relative;
        min-width: 90%;
        max-width: 90%;
        min-height: 90%;
        max-height: 90%;
        border-radius: 10px;
        left: 0;
        padding: 3%;
    }
    .description-me span:first-child {
        font-size: 60px;
        margin-bottom: 2rem;
        letter-spacing: 0;
    }
    .description-me span:nth-child(2) {
        font-size: 2rem;
        line-height: 50px;
        text-align: center;
    }
    .ct-section-title div {
        z-index: 10;
        color: white;
        position: relative;
        text-align: center;
        font-weight: 700;
        top: 6rem;
        font-size: 2rem;
        letter-spacing: 20px;
        left: 0.4rem;
        margin-bottom: 1.5rem;
        /* word-spacing: 5px; */
        font-family: 'IBM Plex Mono', monospace;
    }
    .project-photo {
        width: 384px;
        margin-bottom: 5%;
    }
    .project-card-container {
        display: flex;
        width: 100%;
        height: 100vh;
        justify-content: center;
        flex-direction: column;
    }
    .project-description {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 5%;
    }
    .project-title {
        margin-left: 1rem;
    }
    .project-use-case {
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        margin-left: 0.7rem;
        text-align: center;
    }
    .project-card {
        -webkit-mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" preserveAspectRatio="true"><polygon points="55.5,111 142.5,111 142.5,116 55.5,116" fill="black"/></svg>') 0/100% 100%, linear-gradient(#fff, #fff);
    }
}


/* Desktop Styles */

@media only screen and (min-width: 961px) {}